Package: ru.domo.cocoatop64
Name: CocoaTop
Depends: 
Conflicts: ru.domo.cocoatop, ru.domo.cocoatop64, cn.zqbb.cocoatop64.inject.roothide, zp.cocoatop64.unject, zp.cocoatop64.unject.xina, zp.cocoatop64.inject
Version: 2.2.3
Architecture: iphoneos-arm
Description: Process Viewer for iOS GUI, updated for iOS 13 by SXX.
Maintainer: SXX, Domo
Author: Domo, SXX
Section: Utilities
Icon: https://apt.002599.xyz/web/icon/cn.zqbb.ccatop.png
SileoDepiction: https://apt.002599.xyz/web/cn.zqbb.ccatop
