Package: zp.cocoatop64.unject.xina
Name: CocoaTop64.zp - xina210
Depends: 
Conflicts: ru.domo.cocoatop , ru.domo.cocoatop64 , zp.cocoatop64 , zp.cocoatop64.unject
Version: 3.1.2+1
Architecture: iphoneos-arm
Description: Process Viewer for iOS GUI,适配rootless并增加一些小功能.
 - 1.长按图标的插件针对APP更友好
 - 2.此app更适合屏蔽进程类的注入
 - 3.laileld要加的copy给加上(如果是/开头,使用filza打开)
Maintainer: zp, SXX, Domo
Author: Domo, SXX , zp
Section: Utilities
SileoDepiction: https://rootless.zqbb.cf/web/zp.cocoatop64.unject
