Package: cn.zqbb.cocoatop64.inject.roothide
Name: CocoaTop64 inject (RootHide)
Depends: 
Conflicts: ru.domo.cocoatop, ru.domo.cocoatop64, zp.cocoatop64, zp.cocoatop64.unject, zp.cocoatop64.inject
Version: 3.2.0
Architecture: iphoneos-arm
Description: (RootHide) 白名单注入辅助器
Maintainer: zp, SXX, Domo
Author: Domo, SXX , zp
Section: Utilities
SileoDepiction: https://rootless.zqbb.cf/web/cn.zqbb.cocoatop64.inject.roothide
